<div class="row">
  <% @total_pages.times do |page| %>
    <% @results[page].each do |show| %>
      <div class="col-md-6 col-lg-4 text-center">
        <div class="card">
          <h5 class="card-header"><%= show.name %></h5>
          <%= link_to image_tag(backdrop_present?(show.backdrop_path), class: "card-img"), tv_show_path(show.id) %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= first_air(show.first_air_date) %></li>
            <li class="list-group-item">
              <% if show.genre_ids.present? %>
                <% show.genre_ids.take(3).each do |id| %>
                  <span class="btn btn-outline-dark btn-sm my-1"><%= genre(id) %></span>
                <% end %>
              <% else %>
                <span class="btn btn-outline-dark btn-sm my-1">Not Available</span>
              <% end %>
            </li>
          </ul>
          <div class="card-body">
            <button type="button" class="btn btn-<%= rating_color(show.vote_average) %>">
              <span><%= rating_percentage(show.vote_average) %></span>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
