<div id="<%= current_page?(root_path) ? 'search' : 'alt-search' %>" class="container-fluid">
  <div class="row jumbotron jumbotron-fluid <%= current_page?(root_path) ? 'main-search' : 'alt-search' %>">
    <%= form_tag(search_path, :method => 'get', class: 'form-inline input-group col-md-6 offset-md-3') do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for a TV show...", class: 'form-control py-2 border-right-0 border' %>
      <span class="input-group-append">
        <%= button_tag :submit, class: 'btn btn-outline-secondary border-left-0 border' do %>
          <i id="search-button" class="fa fa-search"></i>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
