<%= render 'search' %>
<div class="container tv-show">
  <div class="row tv-show-content jumbotron">
    <div class="col-lg-3 offset-lg-1 col-md-4">
      <!-- Poster -->
      <%= render 'attributes/poster', :results => @results %>
    </div>
    <div class="col-md-8">
      <!-- Title -->
      <%= render 'attributes/title', :results => @results %>
      <!-- Rating & Genres -->
      <%= render 'attributes/genre', :results => @results %>
      <!-- Overview -->
      <%= render 'attributes/overview', :results => @results %>
      <div class="row">
        <!-- Created By -->
        <%= render 'attributes/creator', :results => @results %>
        <!-- Series -->
        <%= render 'attributes/series', :results => @results %>
        <!-- Runtime -->
        <%= render 'attributes/runtime', :results => @results %>
        <!-- Networks -->
        <%= render 'attributes/network', :results => @results %>
      </div>
    </div>
  </div>
</div>
