<div id="slides" class="carousel slide" data-ride="carousel" data-interval="5000">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
    <li data-target="#slides" data-slide-to="4"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("headers/valley.jpg", title: "Silicon Valley") %>
      <div class="carousel-caption">
        <a href="#search" class="js-scroll-trigger"><button type="button" class="btn btn-danger btn-lg">Get Started</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("headers/robot.jpg", title: "Mr. Robot") %>
      <div class="carousel-caption">
        <a href="#search" class="js-scroll-trigger"><button type="button" class="btn btn-danger btn-lg">Get Started</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("headers/bad.jpg", title: "Breaking Bad") %>
      <div class="carousel-caption">
        <a href="#search" class="js-scroll-trigger"><button type="button" class="btn btn-danger btn-lg">Get Started</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("headers/peaky.jpg", title: "Peaky Blinders") %>
      <div class="carousel-caption">
        <a href="#search" class="js-scroll-trigger"><button type="button" class="btn btn-danger btn-lg">Get Started</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("headers/west.jpg", title: "Westworld") %>
      <div class="carousel-caption">
        <a href="#search" class="js-scroll-trigger"><button type="button" class="btn btn-danger btn-lg">Get Started</button></a>
      </div>
    </div>
  </div>
</div>
