<nav class="<%= current_page?(root_path) ? 'navbar transparent' : 'navbar' %> navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="<%= root_path %>#home"><%= image_tag('logo.png') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <% if current_page?(root_path) %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#search">Search</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="<%= root_path %><%= current_page?(root_path) ? '#popular' : '#home' %>">Popular</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
